.border-bottom-orange {
    border-bottom: solid orange;
}

.kung-fu-font {
    font-family: 'Bungee Spice', cursive;
}

.regular-font {
    font-family: 'Julius Sans One', sans-serif;
}

.regular-font-2 {
    font-family: 'Jost', sans-serif;
}